<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MVA Intro to Angular</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/portfolio-item.css" rel="stylesheet">

</head>

<body>

    <div ng-include src="'/partialHtml/header.html'"></div>


    <!-- Page Content -->
    <div class="container">
    	
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">New York 
                    <small>January 24th, 2015</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row" ng-controller="EventItemController">

            <div class="col-md-8">
                <img class="img-responsive" src="assets/img/newyork_big.jpg" alt="">
            </div>

            <div ng-controller="EventTabController as tabCtrl" class="col-md-4">
                <h3>{{itemTitle}}</h3>
                <p>{{description}}</p>
                <h3>Details</h3>
                <div >
                    <ul class="nav nav-tabs">
                        <li ng-repeat="item in tabCtrl.tabs" ng-click="setTab($index)" ng-class="getMyClass($index)">
                            <a href="#">{{item.title}}</a>
                        </li>

                    </ul>
                    <div ng-repeat="item in tabCtrl.tabs" ng-show="isTabCurrent($index)">{{item.description}}</div>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <!-- Related Projects Row -->
        <div class="row" ng-controller="EventController as boom">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-lg-12"><input type="text" ng-model="boom.search" placeholder="Search by City"></div>
            <event-item></event-item>          

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Young Game Makers 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
    <script src="./app/angular.min.js"></script>
    <script src="./app/mainApp.js"></script>
    <script src="./app/events/eventModule.js"></script>
    <script src="./script.js"></script>
</body>
</html>
